@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body {
    font-family: 'Fredoka One', cursive;
    background-color: antiquewhite;
    margin: 0;
}
.main__title, .bayan__list, .bayan__item, .bayan__content, .bayan_check, .bayan__text, .close__btn, .fa, .fa-times, .img {
    transition: all 0.25s;
}
main {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
    gap: 2rem;
}
.main__title {
    font-size: 3rem;
    line-height: 1.2;
    margin: 0;
}
.bayan__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.bayan__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 0.125em solid rgb(175, 175, 175);
    cursor: pointer;
    color: rgb(25, 98, 208);
}
.bayan__content {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    justify-content: space-between;
    font-size: 1.25rem;
}
.bayan_check {
    display: none;
}
.close__btn {
    opacity: 0;
    color: black;
    visibility: hidden;
    rotate: 45deg;
}
.img {
    width: 50%;
    margin: 0 auto;
    height: 0;
    /* background-image: url(); */
    background-color: aqua;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
}
.bayan_check:checked ~ .close__btn {
    rotate: 0deg;
    color: black;
}
.bayan_check:checked ~ .img, .bayan__item:hover > .img {
    height: 20rem;
    margin-bottom: 1rem;
}
.bayan__list:hover  .close__btn {
    opacity: 1;
    visibility: visible;
}
.bayan__list:hover > .bayan__item {
    color: black;
}
.bayan_check:checked ~ .bayan__text {
    color: black;
}
.bayan__content+.bayan_check:checked ~ .img {
    height: 20rem;
    margin-bottom: 1rem;
}