@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    background-color: antiquewhite;
    overflow: hidden overlay;
    margin: 0;
}
body, .main__title, .bayan__list, .bayan__item, .bayan__content, .bayan_check, .bayan__text, .close__btn, .fa, .fa-times, .img {
    transition: all 0.15s;
}
main {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: 0 auto;
    padding-top: 2rem;
    gap: 2rem;
}
.main__title {
    font-size: 3rem;
    line-height: 1.2;
    margin: 0;
}
.bayan__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
.bayan__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 0.125em solid rgb(175, 175, 175);
    color: rgb(25, 98, 208);
    cursor: pointer;
}
.bayan__content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 0;
    cursor: pointer;
    justify-content: space-between;
    font-size: 1.25rem;
}
.bayan_check {
    display: none;
}
.close__btn {
    opacity: 0;
    color: black;
    visibility: hidden;
    rotate: 45deg;
}
.bayan__line {
    display: inline-block;
    width: 100%;
}
.img {
    width: 30rem;
    margin: 0 auto;
    height: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.5s;
    object-fit: cover;
    border-radius: 5%;
}
.bayan_check:checked ~ .close__btn {
    rotate: 0deg;
    color: black;
}
.bayan_check:checked ~ .img {
    height: 30rem;
    margin: 1rem auto;
}
.bayan__item:active .bayan__content, .bayan__item:active .img {
    opacity: 0.7;
}

.bayan_check:checked ~ .bayan__text {
    color: black;
}
.cofee {
    background-image: url(../img/coffee.jfif);
}
.look-back {
    background-image: url(../img/lookback.jpg);
}
.return {
    background-image: url(../img/return.jpg);
}
.knowledge {
    background-image: url(../img/knowledge.jpg);
}
.justDO {
    background-image: url(../img/justDO.jpg);
}

@media (max-width: 821px) {
    body {
      background-color: lightblue;
    }
    .main__title {
        font-size: 2rem;
        line-height: 1.2;
        margin: 0;
    }
    main {
      gap: 1.25rem;
      max-width: 80%;
    }
    .img {
        width: 20rem;
    }
    .bayan_check:checked ~ .img {
        height: 20rem;
        margin: 1rem auto;
    }
    .bayan__content {
        font-size: 1rem;
    }
  }
  @media (max-width: 481px) {
    body {
      background-color: rgb(173, 230, 201);
    }
    main {
        max-width: 90%;
    }
    .main__title {
        font-size: 1.5rem;
        line-height: 1.2;
        margin: 0;
    }
    .img {
        width: 25rem;
    }
    .bayan_check:checked ~ .img {
        height: 25em;
        margin: 1rem auto;
    }
    .bayan__content {
        font-size: 0.7rem;
        padding: .5rem 0;
    }
  }
  @media (hover: hover) {
    .bayan__item:hover .img {
        height: 30rem;
        margin: 1rem auto;
    }
    .bayan__list:hover .close__btn {
        opacity: 1;
        visibility: visible;
    }
    .bayan__list:hover > .bayan__item {
        color: black;
    }
  }
  @media (hover: hover) and (max-width: 821px)  {
    .bayan__item:hover .img {
        height: 20rem;
        margin: 1rem auto;
    }
  }
  @media (hover: hover) and (max-width: 481px)  {
    .bayan__item:hover .img {
        height: 20rem;
        margin: 1rem auto;
    }
    .bayan__item:hover .img {
        height: 25em;
        margin: 1rem auto;
    }
  }

  @media screen and (max-width: 821px)  {
    .close__btn {
        opacity: 1;
        visibility: visible;
    }
    .bayan__item {
        color: black;
    }
  }
  @media screen and (max-width: 481px)  {
    .close__btn {
        opacity: 1;
        visibility: visible;
    }
    .bayan__item {
        color: black;
    }
  }